.page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    min-height: 10vh;
}

.page__content {
    padding-top: 1rem;
}

.actions {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}