.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.25rem 1rem 1rem 1rem;
  min-height: calc(100vh - 60px);
}

@media (max-width: 767px) {
  .page {
    padding-top: 120px;
    padding-bottom: 0.5rem;
  }
}

.page__content {
  padding-top: 1rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
